* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(78, 124, 78);
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 1rem;
}

.logo {
  display: flex;
}

header img {
  width: 40px;
  margin-right: 2rem;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  height: 70%;
}

.search button {
  height: 1.6rem;
  width: 2rem;
  margin-left: 10px;
  position: absolute;
  right: 9%;
}

.searchButtonIcon {
  height: 40%;
  width: 40%;
  margin: 0 auto 0;
}

.top-bar {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.top-bar .input-name-group {
  align-items: flex-start;
  display: flex;
}

.top-bar .input-terms-group {
  align-items: flex-start;
  display: flex;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 10px;
  width: 200px;
}

.item__sku {
  display: none;
}

.item .item__price {
  font-size: 1.2rem;
  margin-left: 5%;
  font-weight: 700;
}

.item .item__title {
  flex-grow: 1;
  font-size: 0.8rem;
  padding: 0 10px 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item__installments {
  font-size: 0.9rem;
  text-align: center;
  color: green;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.item .item__add {
  background-color: green;
  color: white;
  height: 2rem;
  border-radius: 0 0 0.2rem 0.2rem;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

.item .item__add:hover {
  filter: brightness(0.9);
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
  border-radius: 5px;
  margin-right: 10px;
  padding: 0.5rem;
  height: 100%;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 20pt;
  text-align: center;
  font-weight: 700;
}

.empty-cart {
  height: 30px;
  margin: 10px;
  font-weight: 500;
  background-color: brown;
  color: white;
  font-weight: 700;
}

.empty-cart:hover {
  filter: brightness(0.9);
}

.cart__items {
  padding: 5px 0 0 5px;
}

.cart__item {
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
}

.cart__icon {
  width: 20px;
  margin: 3px 3px 3px 8px;
  height: 100%;
}

.cart__icon:hover {
  background-color: brown;
  border-radius: 5px;
  margin-bottom: 5px;
}

.priceBox {
  background-color: rgb(78, 124, 78);
  width: 80%;
  margin: 10px auto 20px;
  padding: 5px;
  border-radius: 2.5px;
  text-align: center;
}

.loadingModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.loading {
  background-color: white;
  margin: 25% auto;
  padding: 20px;
  border: 1px solid rgb(136, 136, 136);
  width: 20%;
  text-align: center;
  font-size: 2rem;
  z-index: 1;
}
